@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: linear-gradient(to right, #1460bc, #2498ce, #36a3dd, #4482c4);
}

.menu-item {
	@apply py-5 px-4 hover:text-sky-100;
}

/*
  Formularios
*/

input,
textarea,
select {
	@apply block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-200 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
}

button,
.button {
	@apply inline-block px-6 py-2.5 text-white font-medium text-xs lg:text-base leading-tight rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out mb-3;
}

/* Loader */
.spin {
	animation: EDrotation infinite 2s ease-out;
}

@keyframes EDrotation {
	to {
		transform: rotate(2turn);
	}
}

/* Tablas */
table {
	@apply w-full text-sm text-left;
}

thead {
	@apply uppercase bg-sky-700 text-white;
}

th,
td {
	@apply px-2 py-3;
}

tr:nth-child(even) {
	@apply bg-gray-100;
}